<navbar/>
<section class="mt-100" >
  <h1 class="text-4xl text-center mb-6 font-bold text-morgul-shadow  px-4">Personajes del bien</h1>
  <div class="grid grid-cols-3 gap-6 p-4">
    @for (i of goodCharacters$ | async; track $index) {
      <a [routerLink]="['/personaje', i.name]" class="block">
      <div class="card-custom">
        <h2 class="card-title-custom ">Nombre: {{i.name}}</h2>
          <div class="card-body-custom ">
            <h3>Vida: {{i.hp}}</h3>
            <h3>Daño: {{i.damage}}</h3>
            <h3>Esquiva: {{i.dodge ?? 0}}</h3>
          </div>
      </div>
    </a>
    }
    </div>

  <h1 class="text-4xl text-center mb-6 font-bold text-morgul-shadow mt-5">Personajes del mal</h1>
  <div class="grid grid-cols-3 gap-6 p-4">
    @for (i of evilCharacters$ | async; track $index) {
      <a [routerLink]="['/personaje', i.name]" class="block">
      <div class="card-custom">
        <h2 class="card-title-custom">Nombre: {{i.name}}</h2>
          <div class="card-body-custom">
            <h3>Vida: {{i.hp}}</h3>
            <h3>Daño: {{i.damage}}</h3>
            <h3>Esquiva: {{i.dodge ?? 0}}</h3>
          </div>
      </div>
    </a>
    }
  </div>
</section>
