<navbar/>
<section class="mt-10 font-elvish" >
  <h1 class="text-4xl text-center mb-6 font-bold text-morgul-shadow  px-4">Personajes del bien</h1>
  <div class="grid grid-cols-3 gap-6 p-4">
    @for (i of goodCharacters$ | async; track $index) {
      <a [routerLink]="['/personaje', i.name]" class="block">
      <div class="card-custom">
        <span class="card-title-custom text-yellow-300">Nombre: </span><span class="card-title-custom text-orange-500">{{i.name}}</span>
          <div class="card-body-custom ">
            <span class="text-green-400">Vida: </span><span class="text-yellow-400">{{i.hp}}</span><br>
            <span class="text-green-400">Daño: </span><span class="text-yellow-400">{{i.damage}}</span><br>
            <span class="text-green-400">Esquiva: </span><span class="text-yellow-400">{{i.dodge ?? 0}}</span>
          </div>
      </div>
    </a>
    }
    </div>

  <h1 class="text-4xl text-center mb-6 font-bold text-morgul-shadow mt-5">Personajes del mal</h1>
  <div class="grid grid-cols-3 gap-6 p-4">
    @for (i of evilCharacters$ | async; track $index) {
      <a [routerLink]="['/personaje', i.name]" class="block">
      <div class="card-custom">
        <span class="card-title-custom text-yellow-300">Nombre: </span><span class="card-title-custom text-orange-500">{{i.name}}</span>
          <div class="card-body-custom">
            <span class="text-green-400">Vida: </span><span class="text-yellow-400">{{i.hp}}</span><br>
            <span class="text-green-400">Daño: </span><span class="text-yellow-400">{{i.damage}}</span><br>
            <span class="text-green-400">Esquiva: </span><span class="text-yellow-400">{{i.dodge ?? 0}}</span>
          </div>
      </div>
    </a>
    }
  </div>
</section>
