<nav class="navbar-custom">
  <div class="text-4xl font-elvish font-light italic text-mithril-silver">
    LOTRARENA
  </div>

  <div class="flex ml-3 space-x-20 mt-5">
    <a [routerLink]="[ '/viewCombat' ]" routerLinkActive="active-link" class="btn-elvish font-elvish font-light italic text-yellow-100">Combate!</a>

    <a [routerLink]="[ '/tournament' ]" routerLinkActive="active-link" class="btn-elvish font-elvish font-light italic text-yellow-100">Torneo</a>

    <a [routerLink]="[ '/descriptions' ]"  routerLinkActive="active-link" class="btn-elvish font-elvish font-light italic text-yellow-100">Descripcion de personajes</a>

    <a [routerLink]="[ '/character-creation' ]" routerLinkActive="active-link" class="btn-elvish font-elvish font-light italic text-yellow-100">Crear personaje</a>
  </div>
</nav>
